
/* ---------------------------------------------------------------------
Percentage Styles
------------------------------------------------------------------------ */
.percentage {
	position: relative;
	width: 200px;
	height: 200px;
}

.percentage-num {
	position: absolute;
	top: 90px;
	left: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 43px;
	text-align: center;
	color: rgba(255,89,81,1);
	opacity: 0.8
}

.percentage-arc {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
}