
/* ---------------------------------------------------------------------
Media Object Module Styles
------------------------------------------------------------------------ */
.media {
    overflow: hidden;
}

.media-element {
    float: left;
    margin: 0 10px 0 0;
}

.media-bd {
    overflow: hidden;
}