
/* ---------------------------------------------------------------------
Utility Classes
------------------------------------------------------------------------ */
.utlty-isHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.utlty-superscript {
    vertical-align: top;
    font-size: 20px;
    line-height: 1;
}

.utlty-bold { font-weight: bold; }
.utlty-noMargin { margin: 0; }
.utlty-marginBot { margin-bottom: 24px; }
.utlty-marginBot_sm { margin-bottom: 24px; }
.utlty-marginBot_med { margin-bottom: 32px; }
.utlty-marginBot_lrg { margin-bottom: 64px; }
.utlty-floatLeft { float: left; }
.utlty-floatRight { float: right; }
.utlty-centerTxt { text-align: center; }
.utlty-text-light { color: #4a4a4a; }
.utlty-pLrg { font-size: 24px; }
.utlty-posAbs { position: absolute; }
.utlty-posRel { position: relative; }