
/* ---------------------------------------------------------------------
Box Styles
------------------------------------------------------------------------ */
.box {
	overflow: hidden;
	padding: 5px;
	background: #ffffff;
	border: 1px solid #8D8D8D;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
}

.box > img {
	display: block;
	width: 100%;
	border-radius: 5px;
}