
/* ---------------------------------------------------------------------
Base Styles
------------------------------------------------------------------------ */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #3a3a3a;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 14px;
    line-height: 1.4;
    color: #4e4e4e;
}

img {
    max-width: 100%;
}

/* ---------------------------------------------------------------------
Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}