
/* ---------------------------------------------------------------------
Blocks Styles
------------------------------------------------------------------------ */

/*doc

---

title: Blocks
name: blocks
category: Modules

---

A percentage based layout style for floating list items.

```html_example

<h2 class="hdg hdg_4 mix-hdg_blue mix-hdg_lower">blocks_2up</h2>

<ul class="blocks blocks_2up js-modalList" data-col-count="2">
    <li class="blocks-item">
        <div class="box">
            <div class="galleryItem">
                <div class="galleryItem-hd">
                    <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                </div>
                <div class="galleryItem-bd">
                    <div class="galleryItem-bd-lft">
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit...</p>
                    </div>
                    <div class="galleryItem-bd-rght">
                        <a href="#" data-tooltip="DOWNLOAD" class="galleryDwnldBtn">Download</a>
                    </div>
                </div>

                <div class="js-fullDescription">
                    <div class="media">
                        <div class="media-element">
                            <img src="http://placekitten.com/288/199" alt="" />
                        </div>
                        <div class="media-bd">
                            <h4 class="hdg hdg_7 mix-hdg_orange">Title Text</h4>
                            <p>
                                <a class="link" href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Veniam, sed esse fugiat neque mollitia
                                excepturi optio laudantium vel praesentium possimus.

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor tortor quis vestibulum
                                vehicula. Nam felis purus, euismod sit amet sem id, gravida faucibus elit. Cras tortor erat, porta
                                quis dapibus quis, fringilla non justo. Maecenas pellentesque suscipit ipsum a interdum. Mauris laoreet,
                                nisi nec placerat dictum, justo odio eleifend augue, et aliquam nulla metus at lacus. Phasellus eu
                                porttitor libero, vitae luctus nulla. Phasellus sit amet nunc tortor. Nullam et odio nunc. Aliquam vitae
                                pulvinar orci, eu viverra neque.<br/><br/>
                                <span class="bold">Markets:</span> Belgium, <a class="link" href="#">France</a>, Netherlands, <a class="link" href="#">United Kingdom</a>, <a class="link" href="#">United states</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="galleryItem">
                <div class="galleryItem-hd">
                    <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                </div>
                <div class="galleryItem-bd">
                    <div class="galleryItem-bd-lft">
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="galleryItem-bd-rght">
                        <a href="#" data-tooltip="DOWNLOAD" class="galleryDwnldBtn">Download</a>
                    </div>
                </div>

                <div class="js-fullDescription">
                    <ul>
                        <li class="marginBot"><p><span class="txt txt_strong">1871</span> – Thomas Adams of New York receives his first chewing gum machine patent. His revolutionary machine enables him to begin mass producing his chicle based gum. ‘Adams New York No. 1’ chewing gum goes on sale in local drug stores for a penny a piece.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1876</span> – Adams & Sons Co. is founded by Thomas Adams. The rapidly growing company relocates to larger quarters at 58-60 Vesey Street in Manhattan, New York.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1879</span> – Ohio physician Dr. Edward E. Beeman manufactures a pepsin powder as a digestive aid. Beeman blends pepsin with chicle and produces a chewing gum that promises to aid digestion.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1884</span> – Black Jack, a licorice-flavored gum, is introduced by Adams & Sons. It is the first gum to be widely distributed in stick form.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1899</span> – American Chicle Company is formed by the amalgamation of the Adams & Sons Company, of Brooklyn; the Beeman Chemical Company, of Cleveland, Ohio; S. T. Britten & Co., of Toronto, Canada; W. J. White & Sons, of Cleveland, Ohio; J. P. Primley of Chicago, Illinois; and the Kisme Gum Company, of Louisville, Kentucky. The corporation is formed under the laws of New Jersey, June 3, 1899. The company controls 85 percent of the chewing gum business in the United States.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1905</span> – Thomas Adams Sr., 87, dies in his Brooklyn home.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="galleryItem">
                <div class="galleryItem-hd">
                    <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                </div>
                <div class="galleryItem-bd">
                    <div class="galleryItem-bd-lft">
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="galleryItem-bd-rght">
                        <a href="#" data-tooltip="DOWNLOAD" class="galleryDwnldBtn">Download</a>
                    </div>
                </div>

                <div class="js-fullDescription">
                    <ul>
                        <li class="marginBot"><p><span class="txt txt_strong">1871</span> – Thomas Adams of New York receives his first chewing gum machine patent. His revolutionary machine enables him to begin mass producing his chicle based gum. ‘Adams New York No. 1’ chewing gum goes on sale in local drug stores for a penny a piece.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1876</span> – Adams & Sons Co. is founded by Thomas Adams. The rapidly growing company relocates to larger quarters at 58-60 Vesey Street in Manhattan, New York.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1879</span> – Ohio physician Dr. Edward E. Beeman manufactures a pepsin powder as a digestive aid. Beeman blends pepsin with chicle and produces a chewing gum that promises to aid digestion.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1884</span> – Black Jack, a licorice-flavored gum, is introduced by Adams & Sons. It is the first gum to be widely distributed in stick form.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1899</span> – American Chicle Company is formed by the amalgamation of the Adams & Sons Company, of Brooklyn; the Beeman Chemical Company, of Cleveland, Ohio; S. T. Britten & Co., of Toronto, Canada; W. J. White & Sons, of Cleveland, Ohio; J. P. Primley of Chicago, Illinois; and the Kisme Gum Company, of Louisville, Kentucky. The corporation is formed under the laws of New Jersey, June 3, 1899. The company controls 85 percent of the chewing gum business in the United States.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1905</span> – Thomas Adams Sr., 87, dies in his Brooklyn home.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="galleryItem">
                <div class="galleryItem-hd">
                    <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                </div>
                <div class="galleryItem-bd">
                    <div class="galleryItem-bd-lft">
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="galleryItem-bd-rght">
                        <a href="#" data-tooltip="DOWNLOAD" class="galleryDwnldBtn">Download</a>
                    </div>
                </div>

                <div class="js-fullDescription">
                    <ul>
                        <li class="marginBot"><p><span class="txt txt_strong">1871</span> – Thomas Adams of New York receives his first chewing gum machine patent. His revolutionary machine enables him to begin mass producing his chicle based gum. ‘Adams New York No. 1’ chewing gum goes on sale in local drug stores for a penny a piece.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1876</span> – Adams & Sons Co. is founded by Thomas Adams. The rapidly growing company relocates to larger quarters at 58-60 Vesey Street in Manhattan, New York.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1879</span> – Ohio physician Dr. Edward E. Beeman manufactures a pepsin powder as a digestive aid. Beeman blends pepsin with chicle and produces a chewing gum that promises to aid digestion.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1884</span> – Black Jack, a licorice-flavored gum, is introduced by Adams & Sons. It is the first gum to be widely distributed in stick form.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1899</span> – American Chicle Company is formed by the amalgamation of the Adams & Sons Company, of Brooklyn; the Beeman Chemical Company, of Cleveland, Ohio; S. T. Britten & Co., of Toronto, Canada; W. J. White & Sons, of Cleveland, Ohio; J. P. Primley of Chicago, Illinois; and the Kisme Gum Company, of Louisville, Kentucky. The corporation is formed under the laws of New Jersey, June 3, 1899. The company controls 85 percent of the chewing gum business in the United States.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1905</span> – Thomas Adams Sr., 87, dies in his Brooklyn home.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>

<h2 class="hdg hdg_4 mix-hdg_blue mix-hdg_lower">blocks_3up</h2>

<ul class="blocks blocks_3up js-modalList" data-col-count="3">
    <li class="blocks-item">
        <div class="box">
            <div class="galleryItem">
                <div class="galleryItem-hd">
                    <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                </div>
                <div class="galleryItem-bd">
                    <div class="galleryItem-bd-lft">
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit...</p>
                    </div>
                    <div class="galleryItem-bd-rght">
                        <a href="#" data-tooltip="DOWNLOAD" class="galleryDwnldBtn">Download</a>
                    </div>
                </div>

                <div class="js-fullDescription">
                    <div class="media">
                        <div class="media-element">
                            <img src="http://placekitten.com/288/199" alt="" />
                        </div>
                        <div class="media-bd">
                            <h4 class="hdg hdg_7 mix-hdg_orange">Title Text</h4>
                            <p>
                                <a class="link" href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Veniam, sed esse fugiat neque mollitia
                                excepturi optio laudantium vel praesentium possimus.

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor tortor quis vestibulum
                                vehicula. Nam felis purus, euismod sit amet sem id, gravida faucibus elit. Cras tortor erat, porta
                                quis dapibus quis, fringilla non justo. Maecenas pellentesque suscipit ipsum a interdum. Mauris laoreet,
                                nisi nec placerat dictum, justo odio eleifend augue, et aliquam nulla metus at lacus. Phasellus eu
                                porttitor libero, vitae luctus nulla. Phasellus sit amet nunc tortor. Nullam et odio nunc. Aliquam vitae
                                pulvinar orci, eu viverra neque.<br/><br/>
                                <span class="bold">Markets:</span> Belgium, <a class="link" href="#">France</a>, Netherlands, <a class="link" href="#">United Kingdom</a>, <a class="link" href="#">United states</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="galleryItem">
                <div class="galleryItem-hd">
                    <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                </div>
                <div class="galleryItem-bd">
                    <div class="galleryItem-bd-lft">
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="galleryItem-bd-rght">
                        <a href="#" data-tooltip="DOWNLOAD" class="galleryDwnldBtn">Download</a>
                    </div>
                </div>

                <div class="js-fullDescription">
                    <ul>
                        <li class="marginBot"><p><span class="txt txt_strong">1871</span> – Thomas Adams of New York receives his first chewing gum machine patent. His revolutionary machine enables him to begin mass producing his chicle based gum. ‘Adams New York No. 1’ chewing gum goes on sale in local drug stores for a penny a piece.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1876</span> – Adams & Sons Co. is founded by Thomas Adams. The rapidly growing company relocates to larger quarters at 58-60 Vesey Street in Manhattan, New York.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1879</span> – Ohio physician Dr. Edward E. Beeman manufactures a pepsin powder as a digestive aid. Beeman blends pepsin with chicle and produces a chewing gum that promises to aid digestion.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1884</span> – Black Jack, a licorice-flavored gum, is introduced by Adams & Sons. It is the first gum to be widely distributed in stick form.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1899</span> – American Chicle Company is formed by the amalgamation of the Adams & Sons Company, of Brooklyn; the Beeman Chemical Company, of Cleveland, Ohio; S. T. Britten & Co., of Toronto, Canada; W. J. White & Sons, of Cleveland, Ohio; J. P. Primley of Chicago, Illinois; and the Kisme Gum Company, of Louisville, Kentucky. The corporation is formed under the laws of New Jersey, June 3, 1899. The company controls 85 percent of the chewing gum business in the United States.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1905</span> – Thomas Adams Sr., 87, dies in his Brooklyn home.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="galleryItem">
                <div class="galleryItem-hd">
                    <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                </div>
                <div class="galleryItem-bd">
                    <div class="galleryItem-bd-lft">
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="galleryItem-bd-rght">
                        <a href="#" data-tooltip="DOWNLOAD" class="galleryDwnldBtn">Download</a>
                    </div>
                </div>

                <div class="js-fullDescription">
                    <ul>
                        <li class="marginBot"><p><span class="txt txt_strong">1871</span> – Thomas Adams of New York receives his first chewing gum machine patent. His revolutionary machine enables him to begin mass producing his chicle based gum. ‘Adams New York No. 1’ chewing gum goes on sale in local drug stores for a penny a piece.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1876</span> – Adams & Sons Co. is founded by Thomas Adams. The rapidly growing company relocates to larger quarters at 58-60 Vesey Street in Manhattan, New York.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1879</span> – Ohio physician Dr. Edward E. Beeman manufactures a pepsin powder as a digestive aid. Beeman blends pepsin with chicle and produces a chewing gum that promises to aid digestion.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1884</span> – Black Jack, a licorice-flavored gum, is introduced by Adams & Sons. It is the first gum to be widely distributed in stick form.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1899</span> – American Chicle Company is formed by the amalgamation of the Adams & Sons Company, of Brooklyn; the Beeman Chemical Company, of Cleveland, Ohio; S. T. Britten & Co., of Toronto, Canada; W. J. White & Sons, of Cleveland, Ohio; J. P. Primley of Chicago, Illinois; and the Kisme Gum Company, of Louisville, Kentucky. The corporation is formed under the laws of New Jersey, June 3, 1899. The company controls 85 percent of the chewing gum business in the United States.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1905</span> – Thomas Adams Sr., 87, dies in his Brooklyn home.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="galleryItem">
                <div class="galleryItem-hd">
                    <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                </div>
                <div class="galleryItem-bd">
                    <div class="galleryItem-bd-lft">
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="galleryItem-bd-rght">
                        <a href="#" data-tooltip="DOWNLOAD" class="galleryDwnldBtn">Download</a>
                    </div>
                </div>

                <div class="js-fullDescription">
                    <ul>
                        <li class="marginBot"><p><span class="txt txt_strong">1871</span> – Thomas Adams of New York receives his first chewing gum machine patent. His revolutionary machine enables him to begin mass producing his chicle based gum. ‘Adams New York No. 1’ chewing gum goes on sale in local drug stores for a penny a piece.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1876</span> – Adams & Sons Co. is founded by Thomas Adams. The rapidly growing company relocates to larger quarters at 58-60 Vesey Street in Manhattan, New York.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1879</span> – Ohio physician Dr. Edward E. Beeman manufactures a pepsin powder as a digestive aid. Beeman blends pepsin with chicle and produces a chewing gum that promises to aid digestion.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1884</span> – Black Jack, a licorice-flavored gum, is introduced by Adams & Sons. It is the first gum to be widely distributed in stick form.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1899</span> – American Chicle Company is formed by the amalgamation of the Adams & Sons Company, of Brooklyn; the Beeman Chemical Company, of Cleveland, Ohio; S. T. Britten & Co., of Toronto, Canada; W. J. White & Sons, of Cleveland, Ohio; J. P. Primley of Chicago, Illinois; and the Kisme Gum Company, of Louisville, Kentucky. The corporation is formed under the laws of New Jersey, June 3, 1899. The company controls 85 percent of the chewing gum business in the United States.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1905</span> – Thomas Adams Sr., 87, dies in his Brooklyn home.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="galleryItem">
                <div class="galleryItem-hd">
                    <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                </div>
                <div class="galleryItem-bd">
                    <div class="galleryItem-bd-lft">
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="galleryItem-bd-rght">
                        <a href="#" data-tooltip="DOWNLOAD" class="galleryDwnldBtn">Download</a>
                    </div>
                </div>

                <div class="js-fullDescription">
                    <ul>
                        <li class="marginBot"><p><span class="txt txt_strong">1871</span> – Thomas Adams of New York receives his first chewing gum machine patent. His revolutionary machine enables him to begin mass producing his chicle based gum. ‘Adams New York No. 1’ chewing gum goes on sale in local drug stores for a penny a piece.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1876</span> – Adams & Sons Co. is founded by Thomas Adams. The rapidly growing company relocates to larger quarters at 58-60 Vesey Street in Manhattan, New York.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1879</span> – Ohio physician Dr. Edward E. Beeman manufactures a pepsin powder as a digestive aid. Beeman blends pepsin with chicle and produces a chewing gum that promises to aid digestion.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1884</span> – Black Jack, a licorice-flavored gum, is introduced by Adams & Sons. It is the first gum to be widely distributed in stick form.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1899</span> – American Chicle Company is formed by the amalgamation of the Adams & Sons Company, of Brooklyn; the Beeman Chemical Company, of Cleveland, Ohio; S. T. Britten & Co., of Toronto, Canada; W. J. White & Sons, of Cleveland, Ohio; J. P. Primley of Chicago, Illinois; and the Kisme Gum Company, of Louisville, Kentucky. The corporation is formed under the laws of New Jersey, June 3, 1899. The company controls 85 percent of the chewing gum business in the United States.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1905</span> – Thomas Adams Sr., 87, dies in his Brooklyn home.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="galleryItem">
                <div class="galleryItem-hd">
                    <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                </div>
                <div class="galleryItem-bd">
                    <div class="galleryItem-bd-lft">
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="galleryItem-bd-rght">
                        <a href="#" data-tooltip="DOWNLOAD" class="galleryDwnldBtn">Download</a>
                    </div>
                </div>

                <div class="js-fullDescription">
                    <ul>
                        <li class="marginBot"><p><span class="txt txt_strong">1871</span> – Thomas Adams of New York receives his first chewing gum machine patent. His revolutionary machine enables him to begin mass producing his chicle based gum. ‘Adams New York No. 1’ chewing gum goes on sale in local drug stores for a penny a piece.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1876</span> – Adams & Sons Co. is founded by Thomas Adams. The rapidly growing company relocates to larger quarters at 58-60 Vesey Street in Manhattan, New York.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1879</span> – Ohio physician Dr. Edward E. Beeman manufactures a pepsin powder as a digestive aid. Beeman blends pepsin with chicle and produces a chewing gum that promises to aid digestion.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1884</span> – Black Jack, a licorice-flavored gum, is introduced by Adams & Sons. It is the first gum to be widely distributed in stick form.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1899</span> – American Chicle Company is formed by the amalgamation of the Adams & Sons Company, of Brooklyn; the Beeman Chemical Company, of Cleveland, Ohio; S. T. Britten & Co., of Toronto, Canada; W. J. White & Sons, of Cleveland, Ohio; J. P. Primley of Chicago, Illinois; and the Kisme Gum Company, of Louisville, Kentucky. The corporation is formed under the laws of New Jersey, June 3, 1899. The company controls 85 percent of the chewing gum business in the United States.</p></li>
                        <li class="marginBot"><p><span class="txt txt_strong">1905</span> – Thomas Adams Sr., 87, dies in his Brooklyn home.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>

<h2 class="hdg hdg_4 mix-hdg_blue mix-hdg_lower">blocks_4up</h2>

<ul class="blocks blocks_4up js-modalList" data-col-count="4">
    <li class="blocks-item">
        <div class="box">
            <div class="box-content">
                <div class="feature">
                    <div class="feature-element">
                        <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                    </div>
                    <div class="feature-bd">
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit...</p>
                    </div>

                    <div class="js-fullDescription">
                        <div class="media">
                            <div class="media-element">
                                <img src="http://placekitten.com/288/199" alt="" />
                            </div>
                            <div class="media-bd">
                                <h4 class="hdg hdg_7 mix-hdg_orange">Title Text</h4>
                                <p>
                                    <a class="link" href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Veniam, sed esse fugiat neque mollitia
                                    excepturi optio laudantium vel praesentium possimus.

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor tortor quis vestibulum
                                    vehicula. Nam felis purus, euismod sit amet sem id, gravida faucibus elit. Cras tortor erat, porta
                                    quis dapibus quis, fringilla non justo. Maecenas pellentesque suscipit ipsum a interdum. Mauris laoreet,
                                    nisi nec placerat dictum, justo odio eleifend augue, et aliquam nulla metus at lacus. Phasellus eu
                                    porttitor libero, vitae luctus nulla. Phasellus sit amet nunc tortor. Nullam et odio nunc. Aliquam vitae
                                    pulvinar orci, eu viverra neque.<br/><br/>
                                    <span class="bold">Markets:</span> Belgium, <a class="link" href="#">France</a>, Netherlands, <a class="link" href="#">United Kingdom</a>, <a class="link" href="#">United states</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="box-content">
                <div class="feature">
                    <div class="feature-element">
                        <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                    </div>
                    <div class="feature-bd">
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit...</p>
                    </div>

                    <div class="js-fullDescription">
                        <div class="media">
                            <div class="media-element">
                                <img src="http://placekitten.com/288/199" alt="" />
                            </div>
                            <div class="media-bd">
                                <h4 class="hdg hdg_7 mix-hdg_orange">Title Text</h4>
                                <p>
                                    <a class="link" href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Veniam, sed esse fugiat neque mollitia
                                    excepturi optio laudantium vel praesentium possimus.

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor tortor quis vestibulum
                                    vehicula. Nam felis purus, euismod sit amet sem id, gravida faucibus elit. Cras tortor erat, porta
                                    quis dapibus quis, fringilla non justo. Maecenas pellentesque suscipit ipsum a interdum. Mauris laoreet,
                                    nisi nec placerat dictum, justo odio eleifend augue, et aliquam nulla metus at lacus. Phasellus eu
                                    porttitor libero, vitae luctus nulla. Phasellus sit amet nunc tortor. Nullam et odio nunc. Aliquam vitae
                                    pulvinar orci, eu viverra neque.<br/><br/>
                                    <span class="bold">Markets:</span> Belgium, <a class="link" href="#">France</a>, Netherlands, <a class="link" href="#">United Kingdom</a>, <a class="link" href="#">United states</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="box-content">
                <div class="feature">
                    <div class="feature-element">
                        <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                    </div>
                    <div class="feature-bd">
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit...</p>
                    </div>

                    <div class="js-fullDescription">
                        <div class="media">
                            <div class="media-element">
                                <img src="http://placekitten.com/288/199" alt="" />
                            </div>
                            <div class="media-bd">
                                <h4 class="hdg hdg_7 mix-hdg_orange">Title Text</h4>
                                <p>
                                    <a class="link" href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Veniam, sed esse fugiat neque mollitia
                                    excepturi optio laudantium vel praesentium possimus.

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor tortor quis vestibulum
                                    vehicula. Nam felis purus, euismod sit amet sem id, gravida faucibus elit. Cras tortor erat, porta
                                    quis dapibus quis, fringilla non justo. Maecenas pellentesque suscipit ipsum a interdum. Mauris laoreet,
                                    nisi nec placerat dictum, justo odio eleifend augue, et aliquam nulla metus at lacus. Phasellus eu
                                    porttitor libero, vitae luctus nulla. Phasellus sit amet nunc tortor. Nullam et odio nunc. Aliquam vitae
                                    pulvinar orci, eu viverra neque.<br/><br/>
                                    <span class="bold">Markets:</span> Belgium, <a class="link" href="#">France</a>, Netherlands, <a class="link" href="#">United Kingdom</a>, <a class="link" href="#">United states</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="box-content">
                <div class="feature">
                    <div class="feature-element">
                        <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                    </div>
                    <div class="feature-bd">
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit...</p>
                    </div>

                    <div class="js-fullDescription">
                        <div class="media">
                            <div class="media-element">
                                <img src="http://placekitten.com/288/199" alt="" />
                            </div>
                            <div class="media-bd">
                                <h4 class="hdg hdg_7 mix-hdg_orange">Title Text</h4>
                                <p>
                                    <a class="link" href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Veniam, sed esse fugiat neque mollitia
                                    excepturi optio laudantium vel praesentium possimus.

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor tortor quis vestibulum
                                    vehicula. Nam felis purus, euismod sit amet sem id, gravida faucibus elit. Cras tortor erat, porta
                                    quis dapibus quis, fringilla non justo. Maecenas pellentesque suscipit ipsum a interdum. Mauris laoreet,
                                    nisi nec placerat dictum, justo odio eleifend augue, et aliquam nulla metus at lacus. Phasellus eu
                                    porttitor libero, vitae luctus nulla. Phasellus sit amet nunc tortor. Nullam et odio nunc. Aliquam vitae
                                    pulvinar orci, eu viverra neque.<br/><br/>
                                    <span class="bold">Markets:</span> Belgium, <a class="link" href="#">France</a>, Netherlands, <a class="link" href="#">United Kingdom</a>, <a class="link" href="#">United states</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="box-content">
                <div class="feature">
                    <div class="feature-element">
                        <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                    </div>
                    <div class="feature-bd">
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit...</p>
                    </div>

                    <div class="js-fullDescription">
                        <div class="media">
                            <div class="media-element">
                                <img src="http://placekitten.com/288/199" alt="" />
                            </div>
                            <div class="media-bd">
                                <h4 class="hdg hdg_7 mix-hdg_orange">Title Text</h4>
                                <p>
                                    <a class="link" href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Veniam, sed esse fugiat neque mollitia
                                    excepturi optio laudantium vel praesentium possimus.

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor tortor quis vestibulum
                                    vehicula. Nam felis purus, euismod sit amet sem id, gravida faucibus elit. Cras tortor erat, porta
                                    quis dapibus quis, fringilla non justo. Maecenas pellentesque suscipit ipsum a interdum. Mauris laoreet,
                                    nisi nec placerat dictum, justo odio eleifend augue, et aliquam nulla metus at lacus. Phasellus eu
                                    porttitor libero, vitae luctus nulla. Phasellus sit amet nunc tortor. Nullam et odio nunc. Aliquam vitae
                                    pulvinar orci, eu viverra neque.<br/><br/>
                                    <span class="bold">Markets:</span> Belgium, <a class="link" href="#">France</a>, Netherlands, <a class="link" href="#">United Kingdom</a>, <a class="link" href="#">United states</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="box-content">
                <div class="feature">
                    <div class="feature-element">
                        <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                    </div>
                    <div class="feature-bd">
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit...</p>
                    </div>

                    <div class="js-fullDescription">
                        <div class="media">
                            <div class="media-element">
                                <img src="http://placekitten.com/288/199" alt="" />
                            </div>
                            <div class="media-bd">
                                <h4 class="hdg hdg_7 mix-hdg_orange">Title Text</h4>
                                <p>
                                    <a class="link" href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Veniam, sed esse fugiat neque mollitia
                                    excepturi optio laudantium vel praesentium possimus.

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor tortor quis vestibulum
                                    vehicula. Nam felis purus, euismod sit amet sem id, gravida faucibus elit. Cras tortor erat, porta
                                    quis dapibus quis, fringilla non justo. Maecenas pellentesque suscipit ipsum a interdum. Mauris laoreet,
                                    nisi nec placerat dictum, justo odio eleifend augue, et aliquam nulla metus at lacus. Phasellus eu
                                    porttitor libero, vitae luctus nulla. Phasellus sit amet nunc tortor. Nullam et odio nunc. Aliquam vitae
                                    pulvinar orci, eu viverra neque.<br/><br/>
                                    <span class="bold">Markets:</span> Belgium, <a class="link" href="#">France</a>, Netherlands, <a class="link" href="#">United Kingdom</a>, <a class="link" href="#">United states</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="box-content">
                <div class="feature">
                    <div class="feature-element">
                        <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                    </div>
                    <div class="feature-bd">
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit...</p>
                    </div>

                    <div class="js-fullDescription">
                        <div class="media">
                            <div class="media-element">
                                <img src="http://placekitten.com/288/199" alt="" />
                            </div>
                            <div class="media-bd">
                                <h4 class="hdg hdg_7 mix-hdg_orange">Title Text</h4>
                                <p>
                                    <a class="link" href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Veniam, sed esse fugiat neque mollitia
                                    excepturi optio laudantium vel praesentium possimus.

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor tortor quis vestibulum
                                    vehicula. Nam felis purus, euismod sit amet sem id, gravida faucibus elit. Cras tortor erat, porta
                                    quis dapibus quis, fringilla non justo. Maecenas pellentesque suscipit ipsum a interdum. Mauris laoreet,
                                    nisi nec placerat dictum, justo odio eleifend augue, et aliquam nulla metus at lacus. Phasellus eu
                                    porttitor libero, vitae luctus nulla. Phasellus sit amet nunc tortor. Nullam et odio nunc. Aliquam vitae
                                    pulvinar orci, eu viverra neque.<br/><br/>
                                    <span class="bold">Markets:</span> Belgium, <a class="link" href="#">France</a>, Netherlands, <a class="link" href="#">United Kingdom</a>, <a class="link" href="#">United states</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </li>
    <li class="blocks-item">
        <div class="box">
            <div class="box-content">
                <div class="feature">
                    <div class="feature-element">
                        <img class="imgFrm" src="http://placekitten.com/197/151" alt="" />
                    </div>
                    <div class="feature-bd">
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit...</p>
                    </div>

                    <div class="js-fullDescription">
                        <div class="media">
                            <div class="media-element">
                                <img src="http://placekitten.com/288/199" alt="" />
                            </div>
                            <div class="media-bd">
                                <h4 class="hdg hdg_7 mix-hdg_orange">Title Text</h4>
                                <p>
                                    <a class="link" href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Veniam, sed esse fugiat neque mollitia
                                    excepturi optio laudantium vel praesentium possimus.

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor tortor quis vestibulum
                                    vehicula. Nam felis purus, euismod sit amet sem id, gravida faucibus elit. Cras tortor erat, porta
                                    quis dapibus quis, fringilla non justo. Maecenas pellentesque suscipit ipsum a interdum. Mauris laoreet,
                                    nisi nec placerat dictum, justo odio eleifend augue, et aliquam nulla metus at lacus. Phasellus eu
                                    porttitor libero, vitae luctus nulla. Phasellus sit amet nunc tortor. Nullam et odio nunc. Aliquam vitae
                                    pulvinar orci, eu viverra neque.<br/><br/>
                                    <span class="bold">Markets:</span> Belgium, <a class="link" href="#">France</a>, Netherlands, <a class="link" href="#">United Kingdom</a>, <a class="link" href="#">United states</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </li>
</ul>
```

*/

.blocks {
    *zoom: 1; /* clear for lte ie7 */
}

.blocks:before,
.blocks:after {
    content: " ";
    display: table;
}

.blocks:after {
    clear: both;
}

.blocks-item {
    float: left;
}

/* clearfix for blocks-items to allow tooltip to break out*/
.blocks-item:before,
.blocks-item:after {
    content: " ";
    display: table;
}

.blocks-item:after {
    clear: both;
}

.blocks-item:hover {
    cursor: pointer;
}

.blocks-item:hover .box {
    border: 1px solid #79e0e9;
    -webkit-box-shadow: 0 3px #79e0e9;
    -moz-box-shadow: 0 3px #79e0e9;
    -ms-box-shadow: 0 3px #79e0e9;
    -o-box-shadow: 0 3px #79e0e9;
    box-shadow: 0 3px #79e0e9;
}

.blocks_2up {
    margin-left: -2%;
}

.blocks_2up .blocks-item {
    width: 48%;
    margin-left: 2%;
}

.blocks_3up {
    margin-left: -2.318034333%;
}

.blocks_3up .blocks-item {
    width: 31.015299%; /* (223 / 719) * 100 */
    margin-left: 2.318034333%; /* (100 - 93.045897) / 3 */
}

.blocks_4up {
    margin-left: -2.0103093%;
}

.blocks_4up .blocks-item {
    width: 22.9896907%; /* (223 / 970) * 100 */
    margin-left: 2.0103093%; /* (100 - 91.9587628) / 4 */
}

.blocks .blocks-item_fullWidth {
    overflow: hidden;
    padding: 11px 3px 0 0;
    width: 97.4%;
}

.blocks .blocks-item_fullWidth:hover {
    cursor: default;
}

.hghContrast .blocks-item:hover .box {
    border: 1px solid #444444;
    -webkit-box-shadow: 0 3px #444444;
    -moz-box-shadow: 0 3px #444444;
    -ms-box-shadow: 0 3px #444444;
    -o-box-shadow: 0 3px #444444;
    box-shadow: 0 3px #444444;
}
