
/* ---------------------------------------------------------------------
Grid Styles
------------------------------------------------------------------------ */
.grid {}

.grid:before,
.grid:after {
    content: ' ';
    display: table;
}

.grid:after {
    clear: both;
}

.grid-row {
    margin-bottom: 12px;
}

.grid-row:before,
.grid-row:after {
    content: " ";
    display: table;
}

.grid-row:after {
    clear: both;
}

.grid-row-col {
    float: left;
    margin-left: 2.083333333%; /* 20/960*100 */
}

.grid-row-col_1of12 { width: 6.25%; } /* 60/960*100 */
.grid-row-col_2of12 { width: 14.583333333%; } /* (120+20)/960*100 */
.grid-row-col_3of12 { width: 22.916666667%; } /* (180+40)/960*100 */
.grid-row-col_4of12 { width: 31.25%; } /* (240+60)/960*100 */
.grid-row-col_5of12 { width: 39.583333333%; } /* (300+80)/960*100 */
.grid-row-col_6of12 { width: 47.916666667%; } /* (360+100)/960*100 */
.grid-row-col_7of12 { width: 56.25%; } /* (420+120)/960*100 */
.grid-row-col_8of12 { width: 64.583333333%; } /* (480+140)/960*100 */
.grid-row-col_9of12 { width: 72.916666667%; } /* (540+160)/960*100 */
.grid-row-col_10of12 { width: 83.333333333%; } /* (600+200)/960*100 */
.grid-row-col_11of12 { width: 91.666666667%; } /* (660+220)/960*100 */
.grid-row-col_12of12 { width: 100%; } /* (720+240)/960*100 */

.mix-grid-row-col_noGutter { margin-left: 0; }