
/* ---------------------------------------------------------------------
Heading Styles
------------------------------------------------------------------------ */
.hdg {
	display: inline-block;
}

.hdg_1 {
	font-size: 24px;
	font-weight: bold;
}

.hdg_2 {
	font-size: 16px;
	font-weight: bold;
}

.mix-hdg_red { color: #ff5951; }
.mix-hdg_darkGray { color: #4e4e4e; }